<!doctype html>
<html lang="{{ lang }}" dir="{{ lang_dir }}">
  <head>
    <meta charset="utf-8">
    <title>Nerve</title>
    <link rel="icon" href="/img/favicon.png">
    <link href='//fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/default.css">
    <script src="/static/vendor/pdfjs-1.0.473-dist/build/pdf.js"></script>
    <script>
    var oauthAccessToken = '{{ accessToken }}',
        userInfo = {{ user|safe }};
    </script>
    <script async src="/js/application.{{ lang }}.js"></script>
  </head>
  <body>
    <div class="app-loading">
      <i class="fa fa-5x fa-spin fa-circle-o-notch"></i>
    </div>
  </body>
</html>
