<!doctype html>
<html lang="{{ lang }}" dir="{{ lang_dir }}">
  <head>
    <meta charset="utf-8">
    <title>Nerve</title>
    <link rel="icon" href="/img/favicon.png">
    <link href='//fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/auth.css">

  </head>
  <body>
    <div class="auth-container">
      <h1>Nerve</h1>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block script %}{% endblock %}
  </body>
</html>
