{% extends "auth.html" %}

{% block content %}
<div class="login-container">
  <h2>Login</h2>
  <form role="form" method="POST" action="/login" class="login-form">
    <input type="hidden" name="redirect" value="{{redirect}}">
    <div class="form-group">
      <label for="fe-email">Email address</label>
      <input type="email" name="user" class="form-control" id="fe-email" value="{{email}}" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Give me access</button>
    <p class="well">
      Just give your e-mail address. We will send you a link that automatically logs you in. If you didn't previously have an account, one will be created for you.
    </p>
    <button disabled class="btn btn-block btn-google"><i class="fa fa-google"></i> Log in with Google Account</button>
    <button disabled class="btn btn-block btn-facebook"><i class="fa fa-facebook"></i> Log in with Facebook Account</button>
  </form>
</div>
{% endblock %}

{%block script%}
<script src="/js/login.js"></script>
{% endblock %}
