{% extends "auth.html" %}

{% block content %}
<div class="login-container">
  <h2>Login</h2>
  <form role="form" method="POST" action="/login" class="login-form">
    <input type="hidden" name="redirect" value="{{redirect}}">
    <input type="hidden" name="redirect_uri" value="{{redirect_uri}}">
    <input type="hidden" name="client_id" value="{{client_id}}">
    <div class="form-group">
      <label for="fe-email">Email address</label>
      <input type="email" name="email" class="form-control" id="fe-email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="fe-password">Password</label>
      <input type="password" name="password" class="form-control" id="fe-password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="#" class="pull-right signup-toggle">Don't have an account? Sign up!</a>
  </form>
</div>
<div class="signup-container hide">
  <h2>Create account</h2>
  {% include "signup-form.html" %}
</div>
{% endblock %}

{%block script%}
<script src="/js/login.js"></script>
{% endblock %}
