@import "variables"
@import "bootstrap-overrides"
@import "forms"
body
  background-color #eee
.auth-container
  background-color #fff
  width 90%
  max-width 500px
  margin 20px auto
  border-radius 10px
  border 1px solid #ccc
  overflow hidden
  h1
    background-color mainColor
    font-family 'Rock Salt', cursive
    color #fff
    box-sizing border-box
    -moz-box-sizing border-box
    padding 20px
    margin 0px
    small
      font-family "Helvetica Neue",Helvetica,Arial,sans-serif
      float right
      color #eee
  h2
    background-color #333
    color #fff
    margin 0px
    padding 10px
  .login-form
    padding-top 40px
  form
    padding 10px
  .inner
    padding 10px
  .question
    text-align center
