.btn-primary
  background-color accentColor
  border-color darken(accentColor, 10%)
  &:hover, &:focus
    background-color lighten(accentColor, 10%)
    border-color accentColor
a
  color accentColor
  &:hover, &:focus
    color lighten(accentColor, 10%)

.nav-pills
  > li
    &.active
      a
        background-color accentColor
        &:hover, &:focus
          background-color lighten(accentColor, 10%)
