@import "variables"

.route-container
  float left
  box-sizing border-box
  -moz-box-sizing border-box
  padding 10px
  width calc(100% - 310px)
.horizontal-spacer
  float left
  width 310px
  height 1px
.vertical-spacer
  height 60px

.navmenu.navmenu-default.navmenu-fixed-left.offcanvas-sm.show
  padding-top 60px

.app-loading
  width 100%
  padding-top 40%
  text-align center
  color mainColor

.navbar-default
  .navbar-brand
    color mainColor
    font-family 'Rock Salt', cursive
  .navbar-toggle
    border-color accentColor
    color accentColor
    .icon-bar
      background-color accentColor

.navmenu-default

  .navmenu-brand
    color mainColor
    font-family 'Rock Salt', cursive

  .navmenu-nav
    > li
      > a:hover
        color mainColor
    > .active
      > a
        background-color mainColor
        color #fff
        &:hover
          background-color lighten(mainColor, 10%)
          color #fff

@media (max-width: 990px)
  .route-container
    width 100%
