@import "variables"
@import "bootstrap-overrides"

.btn-primary-inverted
  color accentColor

.cursor-hand
  cursor pointer
  cursor hand

.route-container
  float left
  box-sizing border-box
  -moz-box-sizing border-box
  padding 10px
  width calc(100% - 315px)
.horizontal-spacer
  float left
  width 310px
  height 1px
.vertical-spacer
  height 60px

.navmenu.navmenu-default.navmenu-fixed-left.offcanvas-sm.show
  padding-top 60px

.app-loading
  width 100%
  padding-top 40%
  text-align center
  color mainColor

.navbar-default
  .navbar-brand
    color mainColor
    font-family 'Rock Salt', cursive
  .navbar-toggle
    border-color accentColor
    color accentColor
    .icon-bar
      background-color accentColor

.navmenu-default
  overflow-y visible
  .account-info
    position absolute
    bottom 0px
    background-color #333
    left 0px
    right 0px
    padding 10px
    color #ddd
    a
      color #fff
      font-weight bold
      &:hover, &:focus
        color darken(#fff, 10%)

  .top-wrap
    background-color mainColor
    margin-bottom 10px
    .btn-link
      .caret
        color #fff
      &:hover
        .caret
          color accentColor
    .navmenu-brand
      color #fff
      font-family 'Rock Salt', cursive
/*
  .navmenu-nav
    > li
      > a:hover
        color mainColor
    > .active
      > a
        background-color mainColor
        color #fff
        &:hover
          background-color lighten(mainColor, 10%)
          color #fff
*/

.notification-area
  position fixed
  right 10px
  top 10px
  width 200px

@media (max-width: 990px)
  .route-container
    width 100%
