.route-container {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
}
.horizontal-spacer {
  float: left;
  width: 310px;
  height: 1px;
}
.vertical-spacer {
  height: 60px;
}
.navmenu.navmenu-default.navmenu-fixed-left.offcanvas-sm.show {
  padding-top: 60px;
}
.app-loading {
  width: 100%;
  padding-top: 40%;
  text-align: center;
  color: #3b5323;
}
